<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901043048658-gsa8hbn20v4q6gvadccj3knf3tpfb89q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901043048658-gsa8hbn20v4q6gvadccj3knf3tpfb89q</string>
	<key>API_KEY</key>
	<string>AIzaSyAd0NEDv1RF-pmGt0w1PxJYD4E31m66B4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>901043048658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.truelancerClone</string>
	<key>PROJECT_ID</key>
	<string>truelancerclone</string>
	<key>STORAGE_BUCKET</key>
	<string>truelancerclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901043048658:ios:687983cb1fc9cb56cd5d0b</string>
</dict>
</plist>